/**
 * define all site colors here
 */


/* grayscales */
$white: #fff;
$almostWhite: #f4f4f4;
$snowWhite: #efefef;
$offWhite: #e6e6e6;
$lightTan: lighten(#F2ECE3, 3%);


$barelyGray: #ccc;
$somewhatGray: #adadad;


$lightGray: #777;
$warmerGray: #666;
$warmGray: #555;
$darkGray: #333;
$darkerGray: #262626;
$bluishGray: #545C63;

$warmCharcoal: #43474d;
$charcoal: #3d4045;
$darkCharcoal: #36383D;


/* reds */
$redOrange: #f40;
$red: #b92c2c;
$darkRed: #6B1200;

$washedRed: #BA5454;

/* blues */
$lightBlue: #719ECE;
$teal: #008080;
$navyBlue: #1C4684;

/* orangutans */
$orange: #fa0;

/* yellows */
$mustardYellow: #FFD62C;

/**
 * colors by section / feature
 */

/* theme main accent color */
$accentColor: $redOrange;
$accentColorRollover: lighten($accentColor, 15%);

/* main */
$textFg: $darkGray;
$headingFg: $warmGray;
$paragraphFg: $darkGray;
$blockquoteFg: $lightGray;

$siteBg: $snowWhite;
$focusColor: $accentColor;

/* links (<a> tags) */
$linkFg: $redOrange;
$linkFgHover: lighten($redOrange, 10%);

/* header / nav */
$navLinkFg: $warmGray;
$navLinkFgHover: $accentColor;
$mobileNavBg: $darkerGray;

/* footer */
$footerBg: $charcoal;
$footerAttributionBg: $warmCharcoal; 
