/**
 * define all site colors here
 */

$color-red: #AA1625;
$color-blue-navy: #1A4B62;
$color-blue: #256686;
$color-blue-light: #88C2DE;
$color-green: #1BC1AA;
$color-green-light: #61E7C1;
$color-black: #232323;
$color-grey-dark: #444444;
$color-grey-light: #F4F4F4;



.abns-color-red             { color: $color-red!important; }
.abns-color-blue-navy       { color: $color-blue-navy!important; }
.abns-color-blue            { color: $color-blue!important; }
.abns-color-blue-light      { color: $color-blue-light!important; }
.abns-color-green           { color: $color-green!important; }
.abns-color-green-light     { color: $color-green-light!important; }
.abns-color-black           { color: $color-black!important; }
.abns-color-grey-dark       { color: $color-grey-dark!important; }
.abns-color-grey-light      { color: $color-grey-light!important; }

.abns-bg-color-red          { background-color: $color-red!important; }
.abns-bg-color-blue-navy    { background-color: $color-blue-navy!important; }
.abns-bg-color-blue         { background-color: $color-blue!important; }
.abns-bg-color-blue-light   { background-color: $color-blue-light!important; }
.abns-bg-color-green        { background-color: $color-green!important; }
.abns-bg-color-green-light  { background-color: $color-green-light!important; }
.abns-bg-color-black        { background-color: $color-black!important; }
.abns-bg-color-grey-dark    { background-color: $color-grey-dark!important; }
.abns-bg-color-grey-light   { background-color: $color-grey-light!important; }



$color-accent: $color-green;

.abns-color-accent          { color: $color-accent!important; }
.abns-bg-color-accent       { background-color: $color-accent!important; }