/**
 * Typography
 */
$font-family-serif: 'Georgia', serif;
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-family-button: $font-family-sans-serif;

$font-weight-lightest: 100;
$font-weight-light: 200;
$font-weight-semi-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 800;
$font-weight-boldest: 900;

$font-size-heading-1: 40px;
$font-size-heading-2: 34px;
$font-size-heading-3: 26px;
$font-size-heading-4: 20px;
$font-size-heading-5: 18px;
$font-size-body: 16px;
$font-size-button: 22px;

$line-height-body: 1.8em;

$letter-spacing-button: 2px;

/**
 * Colors
 */
// see _colors.scss

/**
 * Device Sizes
 */
$MOBILE_BREAKPOINT: 576px;
$TABLET_BREAKPOINT: 768px;
$LAPTOP_BREAKPOINT: 992px;
$DESKTOP_BREAKPOINT: 1200px;

$maxWidth: 1200px;

/**
 * Transition time
 */
$transition-time-default: 0.2s;
$transition-time-fast: 0.1s;
